$govuk-canvas-background-colour: white;

@import "node_modules/govuk-frontend/govuk/all";

$app-light-grey: #f8f8f8;
$app-code-color: #dd1144;

.app-\!-max-width-measure {
  max-width: 38rem;
}

.app-\!-max-width-100 {
  max-width: 100%;
}

.app-pre {
  position: relative;
  margin: 0;
  padding: govuk-spacing(3);
  overflow: auto;
  border: 1px solid $govuk-border-colour;
  background-color: $app-light-grey;
  font-size: 16px;
  max-width: 38em;
  @include govuk-responsive-margin(4, "bottom");
}

.app-code {
  padding: 0 govuk-spacing(1);
  color: $app-code-color;
  background-color: govuk-colour("dark-grey");
}

// You'll need to restart the server to see changes to styles.
// This is to allow for a smoother markdown editing experience, since we can cache the styles for a long time.

// * {
//   color: red !important;
// }