{% extends "layout-hippo.html" %}

{% block content %}
  {% markdown %}
    # Testing page examples

    - [Full Page HTML Document](/document)
    - [HTML snippet](/snippet)
    - [Markdown snippet](/markdown)
    - [Nunjucks with Markdown](/nunjucks-markdown)
  {% endmarkdown %}
{% endblock %}
